h1 {
  background-color: #660000;
  color: #FFFFFF;
  margin-top: auto;
  border: double;
}

#new-place {
  margin-top: auto;
  border: double;
}

#new-place legend {
  color: #660000;
  font-weight: bold;
}

#new-place input[name="name"] {
  margin-bottom: 10px;
  width: 200px;
}

#new-place input[name="address"] {
  width: 200px;
}

.place-list li {
  list-style: none;
  margin-bottom: 14px;
  margin-left: 14px;
}

.place-list li a {
  text-decoration: none;
}

.place-list li a img {
  height: 10px;
  width: 10px;
}

.place-details {
  height: 100px;
  width: 90px;
  float: left;
  border: 1px solid #660000;
  margin-bottom: 14px;
  margin-left: 14px;
}

.place-details-bar {
  position: relative;
  width: inherit;;
  height: 20px;
  border: 3px solid #73AD21;
}
