h1 {
  background-color: #660000;
  color: #FFFFFF;
  margin-top: auto;
  border: double;
}

#new-place {
  margin-top: auto;
  border-top: double;
}

#new-place legend {
  color: #660000;
  font-weight: bold;
}

#new-place input[name="name"] {
  margin-bottom: 10px;
  width: 200px;
}

#new-place input[name="address"] {
  width: 200px;
}

.place-list li {
  list-style: none;

}

.place-list li a {
  text-decoration: none;

}

.place-list li a img {
  height: 10px;
  width: 10px;
}
